{
  "project_info": {
    "project_number": "xxxxxxxx",
    "project_id": "myapp-xxxx",
    "storage_bucket": "myapp-xxxxx.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "android_client_info": {
          "package_name": "app.myapp.mobile"
        }
      },
      "oauth_client": [
        {
          "client_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "xxxxxxxxxxxxxxxxxxxxxxxxxxx"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}